<script>
	$$("input[name='enviar']").addEvent('click', function(event){
		event.preventDefault();
		
		var name = $("name").get('value');
		var email = $("email").get('value');
		var phone = $("phone").get('value');
		
		novoContato = new Contact({
			name:name,
			email:email,
			phone:phone
		});
		
		novoContato.add(novoContato);
		loadPage('home.html');
	
	});
</script>
<form name="add" action="">
	<fieldset>
		<legend align="center">Add Contact</legend>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" value=""/>
		<label for="email">E-mail</label>
		<input type="text" name="email" id="email" value=""/>
		<label for="phone">Phone</label>
		<input type="text" name="phone" id="phone" value=""/>
		<input type="submit" name="enviar" value="enviar" class="tiny button right"/>
	</fieldset>
</form>