<script>
	$$("input[name='enviar']").addEvent('click', function(event){
		event.preventDefault();
		
		var id = $("id").get('value');
		var name = $("name").get('value');
		var email = $("email").get('value');
		var phone = $("phone").get('value');
		
		novoContato = new Contact({
			id:id,
			name:name,
			email:email,
			phone:phone
		});
		
		novoContato.edit(novoContato);
	});
</script>
<body>
	<div class="row">
		<div class="large-12 columns">
			<form id="edit" name="edit" action="">
				<fieldset>
					<legend align="center">Edit</legend>
					<input type="hidden" name="id" id="id" value=""/>
					<label for="name">Name</label>
					<input type="text" name="name" id="name" value=""/>
					<label for="email">E-mail</label>
					<input type="text" name="email" id="email" value=""/>
					<label for="phone">Phone</label>
					<input type="text" name="phone" id="phone" value=""/>
					<input type="submit" name="enviar" value="enviar" class="tiny button right"/>
				</fieldset>
			</form>
		</div>
	</div>
</body>


