<script>
	var contato = new Contact();
	contato.selectAll();
</script>
<table id="tableContacts" class=" large-12">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nome</td>
			<td>E-mail</td>								
			<td>Telefone</td>
			<td colspan="2">A&ccedil;&otilde;es</td>
		</tr>
	</thead>
</table>